body {
    background-color: rgb(141, 43, 58);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#page-container {
    background-color: black;
    width: 760px;
    min-height: 100vh;
}

#menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 25px;
}

#tab-container {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    width: 300px;
    justify-content: space-evenly;
}

.text-large {
    font-family: "Segoe UI";
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.text-small {
    font-family: "Segoe UI";
    color: white;
}

.tab-link {
    font-family: "Segoe UI";
    color: white;
    text-decoration: none;
}

.tab-link:hover {
    color: aqua;
    text-decoration: underline;
}

#list {
    width: 680px;
    margin-bottom: 50px;
}

.list-item {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.text-medium {
    font-family: "Segoe UI";
    color: white;
    font-size: x-large;
}

.ext-link {
    font-family: "Segoe UI";
    color: lightskyblue;
    text-decoration: none;
}

.ext-link:hover {
    color: aqua;
    text-decoration: underline;
}