body {
    background-color: rgb(141, 43, 58);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

#page-container {
    background-color: black;
    width: 760px;
    min-height: 100vh;
}

#menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 25px;
}

#tab-container {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    width: 300px;
    justify-content: space-evenly;
}

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    margin-top: 5px;
    max-width: 700px;
}

.text-large {
    font-family: "Segoe UI";
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.text-small {
    font-family: "Segoe UI";
    color: white;
}

.tab-link {
    font-family: "Segoe UI";
    color: white;
    text-decoration: none;
}

.tab-link:hover {
    color: aqua;
    text-decoration: underline;
}

#list {
    max-width: 720px;
    margin-bottom: 40px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    margin: 0px 40px 4px 0px;
    max-width: 89vw;
    max-height: auto;
}

.text-medium {
    font-family: "Segoe UI";
    color: white;
    font-size: x-large;
}

.ext-link {
    font-family: "Segoe UI";
    color: lightskyblue;
    text-decoration: none;
}

.ext-link:hover {
    color: aqua;
    text-decoration: underline;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

#profile-photo {
    max-width: 175px;
    border-radius: 100px;
}

#basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px) {
    #page-container {
        min-width: 100vw;
    }

    #banner {
        max-width: 92vw;
    }
}

@media (max-width: 715px) {
    .list-item {
        max-width: 87vw;
    }

    #grid {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    #page-container {
        min-width: 100vw;
    }

    .text-large {
        font-size: 30px;
    }

    .list-item {
        max-width: 86vw;
    }

    #basic-info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 468px) {
    .list-item {
        max-width: 84vw;
    }
}

@media (max-width: 415px) {
    .list-item {
        max-width: 82vw;
    }
}